# Ignore Streamlit secrets file
.streamlit/secrets.toml

# Ignore entire .streamlit directory (optional, if you want to ignore all Streamlit config files)
# .streamlit/

# Python-related files
__pycache__/

# Pipfiles
Pipfile
Pipfile.lock